/* @settings
name: Clever Search
id: clever-search-styles
settings:
	- 
		id: cs-color-settings
		title: Color Settings
		title.zh: 颜色设置
		type: heading
		level: 2
		collapsed: false
	- 
		id: cs-search-main-bgc
		title: Main Background Color
		title.zh: 主要背景色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-search-bar-bgc
		title: Search Bar Background Color
		title.zh: 搜索框背景色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-hint-char-color
		title: Hint Character Color
		title.zh: 提示字符颜色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	-
		id: cs-secondary-font-color
		title: Secondary Font Color (for folder)
		title.zh: 次要文字颜色 (文件夹)
		type: variable-color
		opacity: true
		format: hex
		default: '#'
	- 
		id: cs-pane-bgc
		title: Pane Background Color
		title.zh: 窗格背景色
        type: variable-color
        opacity: true
        format: hex
		default: '#'
	- 
		id: cs-item-selected-color
		title: Item Selected Color
		title.zh: 选中匹配项的颜色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-highlight-bgc
		title: Highlight Background Color
		title.zh: 高亮背景颜色
        type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-highlight-char-color
		title: Highlight Character Color
		title.zh: 高亮字符颜色
		type: variable-color
        opacity: true
        format: hex
        default: '#'

*/
.cs-modal {
	width: 71.5%;
	height: 80%;
	padding: 1.5em 1em 1.5em 1.5em;
	/* remove unused room */
	overflow: hidden;
}

.cs-modal,
.cs-floating-window-container {
	background-color: var(--cs-search-main-bgc, var(--cs-background-center));
}
/* mark {
    background-color: lightblue;
    color: black;
} */
/* dynamic blur all elements except active line */
.cs-privacy-blur .titlebar-button-container:not(:hover),
.cs-privacy-blur .workspace-ribbon.side-dock-ribbon:not(:hover),
.cs-privacy-blur .workspace-split.mod-horizontal:not(:hover),
.cs-privacy-blur .workspace-tab-header-container:not(:hover),
.cs-privacy-blur .view-header:not(:hover),
.cs-privacy-blur .inline-title:not(:hover),
.cs-privacy-blur .cm-embed-block:not(:hover),
.cs-privacy-blur .embedded-backlinks:not(:hover),
.cs-privacy-blur .status-bar:not(:hover) {
	filter: blur(5px);
}

.cs-privacy-blur .cm-line:not(:hover),
.cs-privacy-blur .callout:not(:hover),
.cs-privacy-blur img:not(:hover) {
	filter: blur(5px) !important;
}
.cs-privacy-blur .cm-line.cm-active {
	filter: none !important;
}

/* ========== For setting tab =======*/
/* 定义设置组标题的样式 */
.cs-setting-group-dev-title {
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
}

/* 定义伪元素的样式 */
.cs-setting-group-dev-title::before {
	content: var(--cs-dev-collapse-icon);
	position: absolute;
	left: -20px;
	top: 0;
}

.cs-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-color: #666;
    cursor: se-resize;
}

.cs-resize-handle:hover {
    background-color: #888;
}

/* 浮动窗口的亮色模式 */

/* 可在此处更改颜色 ⬇ */
.theme-light /* 亮色模式 */ {
	--cs-background-center: var(--background-secondary); /* 按钮主体背景色 */
	--cs-background-others: #F6F6F6; /* 整体背景色 */
	--cs-background-select: var(--tag-background); /* 被选中时的背景色 */
  }
.theme-dark /* 暗色模式 */ {
	--cs-background-center: var(--background-primary); /* 按钮主体背景色 */
	--cs-background-others: #262626; /* 整体背景色 */
	/* 被选中时的背景色 */
	/* --cs-background-select: #1E222E;  */
	--cs-background-select: var(--background-secondary);
}

  /* .theme-light .cs-modal .svelte-1k7yxfd */
.theme-light .cs-modal button,
.theme-light .cs-floating-window-container button {
	background-color: unset !important;
}
  
  
.theme-light .cs-modal button.selected {
	/* 默认选一个暗色作为亮色模式下的选中背景 */
	background-color: var(--cs-item-selected-color, rgba(102, 129, 153, 0.1)) !important;
	/* 文本就用白色，作为对比 */
	/* color: var(--tag-color) !important; */
}

.theme-dark .cs-modal button.selected {
	background-color: var(--cs-item-selected-color, rgba(85, 85, 85, 0.45)) !important;
}
  
/* 亮色模式下的浮动窗口 */
.cs-floating-window-container button.selected {
	background-color: var(--cs-item-selected-color, var(--tag-background)) !important;
	color: var(--tag-color) !important;
}

/* 搜索结果标题行修复 */
.result-items.svelte-1dbevw ul button .file-item span.filename.svelte-1dbevw.svelte-1dbevw{
	margin:0.1em !important;
}

/* 整体边框 */
  
.theme-light .cs-floating-window-container {
	border: 1px solid rgb(235, 235, 235) !important;
  
	.cs-floating-window-header {
		background-color: var(--background-secondary) !important;
  
		.cs-close-btn {
			color: var(--text-accent) !important;
		}
	}
  
  
	.search-bar input {
		background-color: var(--background-primary) !important;
		border: 1px solid rgb(235, 235, 235) !important;
	}
}
  
  
.theme-light .cs-modal .right-pane {
	background-color: var(--cs-pane-bgc, var(--background-primary)) !important;
}

.theme-light .cs-modal .search-bar input {
	background-color: var(--cs-search-bar-bgc, var(--background-primary)) !important;
}
  
  
.theme-light .cs-modal .right-pane .preview-container ul button.file-sub-item {
	background-color: var(--cs-pane-bgc, var(--background-primary));
}
  
/* 浮动窗口的滚动条 */
.cs-floating-window-container {
	overflow-y: auto !important;
}
  
/* CS  的文件内浮动搜索框，限制大小 */
.cs-floating-window-container .search-container {
  
	/* overflow-y: scroll !important; */
  
	.left-pane {
		max-width: 100% !important;
		width: 100% !important;
	}
  
	button {
		max-width: calc(100% - 1.5em) !important;
		margin-left: 1em !important;
	}
  
	/* sticky header */
	.search-bar {
		input {
			border-radius: 6px !important;
		}
		position: absolute !important;
		margin-left: 10px !important;
		margin-top: 20px !important;
		top: 10px !important;
		width: calc(100% - 30px) !important;
		/* top: 20px !important; */
	}
  
	.result-items {
		margin-top: 30px !important;
	}
}
